<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--安全管理器-->
    <!--JavaSE-->
<!--    <bean id="securityManager" class="org.apache.shiro.mgt.DefaultSecurityManager">
        <property name="realms">
            <list><ref bean="myRealm"/></list>
        </property>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>-->
    <!--JavaWeb-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    <!--配置Relam-->
    <bean id="myRealm" class="com.hongyi.shiro.realm.MyRealm"></bean>

    <!--配置缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager"></bean>
    <!--相当于SecurityUtils.setSecurityManager(manager)-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod"
                  value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <!-- shiro 的Web过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--如果没有认证将要跳转的登陆地址 -->
        <property name="loginUrl" value="/login.jsp"/>
        <!-- 配置安全规则 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- 登录页面不拦截 -->
                /sys/user/login anon
                <!--静态资源可以直接访问-->
                /static/** anon
                /upload/** anon
                <!-- user表示身份认证通过可以访问 -->
                /** user
            </value>
        </property>
    </bean>
</beans>